/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.collapsible {
			.collapsible-body {
				.collapsible-body-toolbar {
					border: 0;
				}
				.collapsible-body-inner {
					border: 0;

					.ui-tabs .ui-tabs-panel {
						padding-left: 0;
						padding-right: 0;
					}
					.one.column,
					.one.columns,
					.two.columns,
					.three.columns,
					.four.columns,
					.five.columns,
					.six.columns,
					.seven.columns,
					.eight.columns,
					.nine.columns,
					.ten.columns,
					.eleven.columns,
					.twelve.columns,
					.thirteen.columns,
					.fourteen.columns {
						padding-left: 15px;
						padding-right: 15px;
					}
				}
			}
		}

		.container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns, { width: 380px; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.collapsible {
			.collapsible-body {
				.collapsible-body-toolbar {
					border: 0;
				}
				.collapsible-body-inner {
					border: 0;

					.ui-tabs .ui-tabs-panel {
						padding-left: 0;
						padding-right: 0;
					}
					.one.column,
					.one.columns,
					.two.columns,
					.three.columns,
					.four.columns,
					.five.columns,
					.six.columns,
					.seven.columns,
					.eight.columns,
					.nine.columns,
					.ten.columns,
					.eleven.columns,
					.twelve.columns,
					.thirteen.columns,
					.fourteen.columns {
						padding-left: 15px;
						padding-right: 15px;
					}
				}
			}
		}

		.container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns, { width: 260px; }
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/