﻿@using iTextSharp.text.pdf.qrcode
@using PanasonicProject.Helpers

@model PagedList.IPagedList<PanasonicProject.Models.WorklistItem>

<div class="row">
    @(Html.Kendo().Grid<PanasonicProject.Models.WorklistItem>()
          .Name("WorklistItem")
          .Columns(columns =>
          {

              columns.Bound(c => c.Folio).Title("Folio");
              columns.Bound(c => c.Subject).Title("Subject");
              columns.Bound(c => c.ProcessStartDate).Filterable(false).Format("{0:dd-MMM-yyyy}").Title("Task Start Date");
              columns.Bound(c => c.DescProcessName).Title("Process Name");
              columns.Bound(c => c.ActivityName).Title("Activity Name");
              columns.Bound(c => c.ActivityStartDate).Filterable(false).Format("{0:dd-MMM-yyyy}").Title("Activity Start Date");
              columns.Bound(c => c.Status).Title("Status");
              columns.Bound(c => c.CreateBy).Title("Created By");
              columns.Template(c => Html.BtnOpenWorklist(true, Url.Action("OpenWorklistItem", "Workspace", new { sn = c.SN }), false)).Width(15);
              columns.Template(c => Html.BtnReleaseWorklist(c.EnableRelease, Url.Action("Release", "Workspace", new { sn = c.SN }),false)).Width(15);

          })
          .Navigatable()
          .BindTo(Model)
          .HtmlAttributes(new { @class = "table table-striped table-hover table" })
          .Sortable()
          .Filterable(m=>m.Mode(GridFilterMode.Menu))
//          .Pageable(p => p.PageSizes(false).Refresh(true))
)
</div>

