﻿@using PagedList.Mvc
@model PagedList.IPagedList<PanasonicProject.Models.WorklistItem>
@{
    ViewBag.Title = "Worklist";
}
<style>
  .pagination {
    margin: 0;
  }
</style>
@Html.GetBanner("Worklist")
@*<h2>Worklist</h2>*@
<div style="background-color: white; margin-bottom: 20px; padding: 20px; ">
    @using (Html.BeginForm("Index", "Workspace", FormMethod.Get, new { @class = "", style = "padding-bottom: 20px;" }))
    {
        <input type="submit" value="Search" class="btn btn-default" style="margin-left: 10px; float: right; height: 34px;" />
        @Html.TextBox("searchQuery", null, new { @class = "form-control", style = "width: 200px;float: right",placeholder="Search worklist " })
    }
    @Html.Partial("_List", Model)
    
    <div class="row" style="padding-top: 0">
      <div class="col-sm-6" style="padding-left: 0">@Html.PagedListPager(Model, page => Url.Action("Index", new { pageNumber = page, searchQuery = ViewBag.SearchQuery }))</div>
      <div class="col-sm-6 text-right" style="padding-right: 0">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
      </div>
    </div>
</div>