﻿@using PanasonicProject.Helpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Panasonic</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/kendo")
        @Scripts.Render("~/bundles/PECTH")

        <script src="~/Scripts/iframeResizer.min.js"></script>
        <script language="javascript" type="text/javascript">
            function resizeIframe(iframe) {
                var addHeight = 20; //or whatever size is being cut off
                iframe.height = iframe.contentWindow.document.body.scrollHeight + addHeight + "px";
            }
        </script>
        @*<link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.default.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.2.624/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />

	<script src="@Url.Content("~/Scripts/kendo/2015.2.624/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.2.624/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.2.624/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.2.624/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>*@
</head>

    <body>
        <div id="wrap">
            <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <img alt="Brand" src="~/icon.png">
                            @*<img alt="Brand" src="~/Images/Panasonic_logo.png">*@
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li style="padding: 16px 0px;">
                                <span class=" glyphicon glyphicon-user">
                                </span>
                            </li>
                            <li >
                                <a>
                                    @{
                                        var user = HttpContext.Current.User as PanasonicProject.Infrastructure.Security.IPECTHPrincipal;
                                        if (user != null)
                                        {
                                             @user.FullName
                                        }
                                        else
                                        {
                                            @HttpContext.Current.User.Identity.Name   
                                        }
                                    }
                                </a>
                            </li>
                        </ul>
                        @Html.NavigationMenuContent(new { @class = "nav navbar-nav" })
                        @*<ul class="nav navbar-nav">

                            <li class=""><a href="#"><p class=" glyphicon glyphicon-home"></p></a></li>
                            <li class=""><a href="#">Workspace</a></li>

                            <li><a href="#">Counting</a></li>
                            <li><a href="#">Web Order</a></li>
                            <li><a href="#">Transfer</a></li>
                            <li><a href="#">Return</a></li>
                            <li><a href="#">Good Receipt</a></li>
                            <li><a href="#">Petty Cash</a></li>
                            <li>@Html.ActionLink("Setup", "Setup","Home")</li>

                        </ul>*@


                    </div>


                    <!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>


            <div class="container bodyPage">
                <div class="row">
                    @*@Html.GetBanner()*@
                    @*@Html.GetProgressbar()*@
                    @RenderBody()
                </div>
            </div>
        </div>
        <div id="border-footer">

        </div>
        <div id="footer">
        
            <p>
                Copyright © @DateTime.Now.Year Panasonic Energy Thailand. All Rights Reserved.
            </p>

        </div>

        @(Html.Kendo().Notification().Name("Notification"))

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            $(document).ready(function () {
                $('body').resize();
                
                $('iframe').iFrameResize({
                    bodyMargin: 20,
                    minHeight: 600
                });
                
                //var stickyNavTop = $('.nav').offset().top;

                //var stickyNav = function () {
                //    var scrollTop = $(window).scrollTop();

                //    if (scrollTop > stickyNavTop) {
                //        $('.nav').addClass('sticky');
                //    } else {
                //        $('.nav').removeClass('sticky');
                //    }
                //};

                //var stickyProgressTop = $('.progress-shadow-rightleft').offset().top;

                //var stickyProgress = function () {
                //    var scrollTop = $(window).scrollTop();

                //    if (scrollTop > stickyProgressTop) {
                //        $('.progress-shadow-rightleft').addClass('sticky-progress');
                //    } else {
                //        $('.progress-shadow-rightleft').removeClass('sticky-progress');
                //    }
                //};

                //stickyNav();
                //stickyProgress();
                //$(window).scroll(function () {
                //    stickyNav();
                //    stickyProgress();
                //});

                $('iframe').addClass("iframe-shadow-rightleft");

                var url = window.location;
                $('ul.nav li a').each(function () {
                    if (this.href == url) {
                        $("ul.nav li").each(function () {
                            if ($(this).hasClass("active")) {
                                $(this).removeClass("active");
                            }
                        });
                        $(this).parent().addClass('active');
                    }
                });
            });



        </script>
    </body>

</html>
