﻿<div class="panel panel-info">
    <div class="panel-heading">Tools</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-5">
                <a class="btn btn-success" data-url="@Url.Action("SearchReports", "Reports")" data-resultid="Views" onclick="pecth.reports.searchReport(this)">Submit</a>
            </div>
        </div>
    </div>
</div>