﻿@Html.GetBanner("unauthorized")

<div class="row">
    <div class="col-md-offset-3 col-md-6">
            <div class="alert alert-danger" style="text-align: center">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="sr-only">Error:</span>
                Sorry, your are not unauthorized.
            </div>
    </div>
</div>