﻿@Html.GetBanner("Import Exccel")

<form method="post" action='@Url.Action("ReadFileImportExcel")'>
    <div class="demo-section k-content">
        @(Html.Kendo().Upload()
                    .Name("file")
            .Multiple(false)
            .HtmlAttributes(new { aria_label = "files" })
        )
        <p style="padding-top: 1em; padding-left: 1em">
            You can only upload .xlsx file.
        </p>
        <p style="padding-top: 1em; text-align: right">
            <button type="submit" class="k-button k-primary">Submit</button>
        </p>
    </div>
</form>