﻿@using System.Configuration

@Html.GetBanner("Reports")

<div class="panel panel-info" style="padding-top: 10px">
    <div class="panel-heading"><h6><b>Section name</b></h6></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("EditorTemplates/_Iframe",
                        ConfigurationManager.AppSettings["SQLHost"] + "%2fSectionName&rs:Command=Render")
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading"><h6><b>Roles Item</b></h6></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("EditorTemplates/_Iframe",
                        ConfigurationManager.AppSettings["SQLHost"] + "%2fRolesInWorkflows&rs:Command=Render")
            </div>
        </div>
    </div>
</div>

