﻿@using iTextSharp.text.pdf.qrcode
@model PanasonicProject.ViewModels.Report.SummaryReportsViewModel

@Html.GetBanner("Worklist")

@using (Html.BeginForm("SearchReportPDF", "Reports"))
{
    <div class="panel panel-info">
        <div class="panel-heading"><h6><b>Report Criteria</b></h6></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    @Html.EditorForModel(Model)
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-offset-10">
                    @*glyphicon glyphicon-search*@
                    <a id="btnSubmitIsAjax" class="btn btn-success displaynon"
                            data-url="@Url.Action("SearchReports", "Reports")"
                            data-resultid="views"
                            data-panelviewsid="panelViews"
                            onclick="pecth.reports.searchReport(this)">
                        <label class="glyphicon glyphicon-search"></label> Search
                    </a>

                    @*<input id="btnSubmit" data-panelviewsid="panelViews"
                           onclick="pecth.reports.hidePennel"
                           type="submit" class="btn btn-success" value="Search" />*@

                    <button id="btnSubmit" type="submit" onclick="pecth.reports.hidePennel" class="btn btn-success" data-panelviewsid="panelViews">
                        <label class="glyphicon glyphicon-search"></label> Search
                    </button>
                    
                    <a id="btnCancel" class="btn btn-warning"
                       data-reportname="@Html.IdFor(m=>m.Criteria.ReportName)"
                       data-documentnumber="@Html.IdFor(m => m.Criteria.DocumentNumber)"
                       data-createdby="@Html.IdFor(m => m.Criteria.CreateBy)"
                       data-startdate="@Html.IdFor(m=>m.Criteria.StartDate)"
                       data-enddate="@Html.IdFor(m => m.Criteria.EndDate)"
                       data-divisionid="@Html.IdFor(m => m.Criteria.DivisionId)"
                       data-departmentid="@Html.IdFor(m => m.Criteria.DepartmentId)"
                       data-sectionid="@Html.IdFor(m => m.Criteria.SectionId)"
                       onclick="pecth.reports.clearForm(this)">
                        <label class="glyphicon glyphicon-refresh"></label> Clear
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info displaynon" id="panelViews">
        <div class="panel-heading">Viewer</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12" id="views">
                    @*Detail*@
                </div>
            </div>
        </div>
    </div>
}

@if (Model.IsErrorMessage)
{
    <script>
        $(function() {
            pecth.reports.Notification('Notification', '@Model.ErrorMessage');
        });
    </script>
}


