﻿@using iTextSharp.text.pdf.qrcode
@model PanasonicProject.ViewModels.Report.SummaryReportsViewModel

@Html.GetBanner("Reports")

@using (Html.BeginForm("PrintApplicationViewer", "Reports"))
{
    <div class="panel panel-info">
        <div class="panel-heading">Application</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    @Html.CheckBox("E600")
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.TextBox("primaryId") @Html.CheckBox("isPrePint") Prepint <input type="submit" value="Print" />
                </div>
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("PrintPOAndAppViewer", "Reports"))
{
    <div class="panel panel-info">
        <div class="panel-heading">PO & App</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    @Html.CheckBox("E600")
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.TextBox("primaryId") @Html.CheckBox("isPrePint") Prepint <input type="submit" value="Print" />
                </div>
            </div>
        </div>
    </div>

}

@using (Html.BeginForm("PrintPOLocalViewer", "Reports"))
{
    <div class="panel panel-info">
        <div class="panel-heading">PO Local</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    @Html.CheckBox("E600")
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.TextBox("primaryId") @Html.CheckBox("isPrePint") Prepint <input type="submit" value="Print" />
                </div>
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("PrintPOViewer", "Reports"))
{
    <div class="panel panel-info">
        <div class="panel-heading">PO Import</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    @Html.CheckBox("E600")
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.TextBox("primaryId") @Html.CheckBox("isPrePint") Prepint <input type="submit" value="Print" />
                </div>
            </div>
        </div>
    </div>
}


