﻿
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        @Html.Partial("_PermissionTableList")
    </div>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10" id="permissionPanelLine"> 
        
    </div>
</div>