﻿@using Kendo.Mvc.UI;
@using PanasonicRequestSheetProject.Models.RequestSheet
@model ERS_T_AttachFileTable

<form action="@Url.Action("AttachFileInfoSaveDetail", "PR")" method="post" class="container">
    @Html.HiddenFor(m => m.AttachID)
    @Html.HiddenFor(m => m.RequestHDRefer)

    <div class="form-horizontal" style="background:#fff;margin-top:20px;padding:10px">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-xs-4 col-sm-2">Attach File</label>
                    <div class="control-input col-xs-8 col-sm-9 col-md-9">
                        <a href="@Url.Action("DownloadAttachmentInfo", "Attachment")?id=@Model.AttachID" target="_blank">@Model.OriginFileName</a>
                        @(Html.Kendo()
                        .Upload()
                        .Name("file")
                        .Multiple(false)
                        .DropZone(".dropZoneElement")
                        .HtmlAttributes(new { accept = "image/*;capture=camera" });
                                )
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-4 col-sm-2">Item No.</label>
                    <div class="control-input col-xs-8 col-sm-9 col-md-9">
                        @Html.TextBoxFor(m => m.SeqNO, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-4 col-sm-2">Description</label>
                    <div class="control-input col-xs-8 col-sm-9 col-md-9">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-5 col-sm-5"><p style="color:#ff0000">@ViewData["ErrorMessage"]</p></label>
                </div>
                <hr />
                <div class="col-sm-offset-10" style="padding:10px">
                    <button class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

