﻿@model DateTime?

<div class="input-group date input-group-sm" data-date-format="dd/mm/yyyy" data-provide="datepicker">
    @if (Model != null)
    {
        @Html.TextBoxFor(model => model, new { placeholder = "วัน/เดือน/ปี", autocomplete = "off", @Value = Model.Value.ToString("dd/MM/yyyy"), @class = "form-control" })
    }
    else
    {
        @Html.TextBoxFor(model => model, new { placeholder = "วัน/เดือน/ปี", autocomplete = "off", @class = "form-control" })
    }
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>

