﻿@import "lesshat.less";



/* #Variables
================================================== */
@k-brown: #9C600E;
@bodybg: #ffeda1;
@contentbg: #222C32;
@footer-bg: #ffdb43;
@body-background-image: '../img/BG_NEW.png';
@navigation-bg: #521f14;

@table-header-bg: #ff921b;
@table-odd-bg: #eee;
@table-even-bg: #fff;
@table-hover-bg: #D6E3B0;
@table-checked-bg: darken(@table-hover-bg, 15%);
@label-bg: #ffeda1;


/* #Common Page Styles
================================================== */

html, body
{
	height: 100%;
	background: @bodybg url(@body-background-image) repeat left top;
}

body {
	font-size: 11px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
}
.outermost-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -47px;
}
.tipco-header-wrapper {
	width:100%;
	height: 90px;
}
.tipco-header {
	background-color: #FFF;
	height: 90px;
	z-index: 99;
}
.navigation-wrapper {
	//height: 28px;
}
.navigation-container {
	background-color: @navigation-bg;
	color: #FFF;
}
.navigation {
	width: 100%;
}
.content-wrapper {
	width:100%;
}
html.ie8 .content-wrapper {

}
.main-content-wrapper {
	background-color: #FFF;
	padding-bottom: 10px;
	
	border: 1px solid @table-header-bg;
	//.box-shadow(~"0 2px 5px #000");
}
.main-content {	
	background-color: #FFF;
	min-height: 590px;
	height: auto !important; 
	height: 590px;
}
.push {
	height: 46px;
}
.footer-wrapper {
	background-color: @footer-bg;
	border-top: 1px solid @table-header-bg;
	border-bottom: 1px solid @table-header-bg;
	width:100%;
	height: 45px;
}
.footer {
	text-align: center;
}

.title-style (@fontsize) {
	font-size: @fontsize;
	line-height: (@fontsize + 7);
	color: darken(@k-brown, 10%);
    font-weight: bold;
	margin-bottom: 8px;
}
.page-title {
	.title-style(20px);
	margin-top:10px;
}

.section-title {
	.title-style(17px);
	margin-top:10px;
}

.horizontal-line {
	text-align: center;
	img {
		max-width: 100%;
		height: auto;	
	}
}
.resizable-image {
	max-width: 100%;
	height: auto;
}

.copyright {
	text-align: center;
}

.hidden {
	display:none;
}

/* for unsupported browsers */
.placeholder { color: #aaa }

.block-loading {
	padding-left: 15px;
	background: url("../img/ui-anim_basic_16x16.gif") no-repeat scroll left center #FFFFFF;
}

.currency, .quantity {
	text-align: right;
}

/* #SPECIAL BUTTON
================================================== */
input#btnSubmit {
	font-size: 1.6em;
	border: 1px solid #45930b;
	background: #4ca20b url("../themes/le-frog/images/ui-bg_highlight-soft_60_4ca20b_1x100.png") 50% 50% repeat-x;
	color: #ffffff;
	&.ui-state-focus {
		border: 1px solid #8bd83b;
		background: #4eb305 url(../themes/le-frog/images/ui-bg_highlight-soft_50_4eb305_1x100.png) 50% 50% repeat-x;
		color: #ffffff;
	}
	&.ui-state-hover {
		border: 1px solid #8bd83b;
		background: #4eb305 url("../themes/le-frog/images/ui-bg_highlight-soft_50_4eb305_1x100.png") 50% 50% repeat-x;
		color: #ffffff;
	}
	&.ui-state-active {
		border: 1px solid #72b42d;
		background: #285c00 url(../themes/le-frog/images/ui-bg_highlight-hard_30_285c00_1x100.png) 50% 50% repeat-x;
		color: #ffffff;
	}
}

/* #LOGO Styles (Tipco specific)
================================================== */

#site-logo {
	height: 90px;
	width: 100%;
	display: block;
	background-repeat: no-repeat;
}
#site-logo.logo-default {
	background-image: url('../img/E Procurement.png');
}
#site-logo.pri {
	background-image: url('../img/PRI.png');
}
#site-logo.purchreq {
	background-image: url('../img/PR.png');
}
#site-logo.purchorder {
	background-image: url('../img/PO.png');
}
#site-logo.refreshdata {
	background-image: url('../img/Set Up master.png');
}


/* #Flash Styles (Tipco specific)
================================================== */
.flash-wrapper {
	text-align: center;
	margin-top: 10px;
}
.flash {
	border: 1px solid @table-header-bg;
	.border-radius(5px);
	padding-bottom: 20px;
}

/* #Form Styles
================================================== */
.input-form, .input-form-displayonly {
	input[type='text'], 
	input[type='textarea'], textarea {
		width: 89%;
		//padding-top:1px;
		//padding-bottom:1px;
		padding-left: 5px;
		margin: 0px 0 0px 1px;
	}
	input[type='select'], select {
		width: 91%;
		//padding-top:1px;
		//padding-bottom:1px;
		padding-left: 3px;
		margin: 0px 0 0px 1px;
	}
	input[type='datetime'] {
		width: 78%;
		//padding-top:1px;
		//padding-bottom:1px;
		padding-left: 3px;
		margin: 0px 0 0px 1px;
	}
	input[type='radio'] {
		vertical-align:middle;
		margin-top: 4px;
		margin-bottom: 5px;
		&+label {
			margin-top : -15px;
			vertical-align: baseline;
		}
	}
	div.label {
		padding-top: 3px;
		padding-bottom: 3px;
		background-color: @label-bg;
		margin-top: 2px;
		margin-bottom: 5px;
	}
	div.value {
		min-height: 1px;
		padding-top: 3px;
		//margin-bottom: 8px;
	}
	div.display {
		//margin-bottom: 8px;
		padding-top: 3px;
		min-height: 1px;
	}
	div.display.multiline {
		white-space: pre-line;
	}
	label {
		/*padding-top:3px;
		padding-bottom:4px;
		padding-left: 3px;*/
		//margin: 2px 0 2px 1px;
		//background-color: @tp-lightgrey;
	}
	input[type='textarea'], textarea {
		margin-bottom:7px;
	}
	//#btnSubmit, .btnSubmit, .btnSubmit, button[type=submit],  input[type=submit]
	#btnSubmit, .btnSubmit
	{
        font-weight: bold;
    }
	#pageSizeSelectList
	{
		width: auto;
	}
	#searchQuery 
	{
		width: auto;
	}
}
.input-form {
	input[type='text'].lookuptextbox {
		width: 75%;
		display: inline;
	}
}
.lookuptextbox-button {
	text-decoration: none;
}

table.file-list-existing, table.file-list-readonly {
	line-height: 18px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    width: 96%;
	thead {
		tr:first-child {
			border: 1px solid #CCC;
			background-color: @table-header-bg;
			color: #FFF;
			th {
				font-weight: bold;
				text-align:left;
				padding-top: 3px;
				padding-bottom: 3px;
			}
		}
	}
	tr {
		td {
			padding-top: 3px;
			padding-bottom: 3px;
		}
		&:hover td {
			background-color: @table-hover-bg;
		}
	}
	tbody {
		tr {
			width: 100%;
			&:nth-of-type(odd) { 
				background: @table-odd-bg; 
			}
			&.odd {
				background: @table-odd-bg; 
			}
			&:nth-of-type(even) { 
				background: @table-even-bg; 
			}
			&.even {
				background: @table-even-bg; 
			}
			td {
				text-align: left;
				&:first-child {
					width: 60%;
				}
				&:last-child {
					text-align: right;
					width: 15%;
				}
			}
		}
	}
}

table.file-list {
	width: 96%;
	margin-bottom: 20px;	
	tbody {
		tr {
			td {
				text-align: left;
				&:first-child {
					width: 60%;
				}
				&.file-description {
					width: 25%;
				}
				&:last-child {
					text-align: right;
					width: 15%;
				}
			}
		}
	}
}
.bar {
    height: 18px;
    background: green;
}

table.comment-history {
	width: 96%;
	margin-bottom: 20px;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	thead {
		font-weight: bold;
		tr th {
			text-align:left;
		}
	}
	tbody {
		tr {
			width: 100%;
			&:nth-of-type(odd) { 
			  background: #eee; 
			}
			td {
				padding-left:2px;
				padding-right:2px;
				width:18%;
				&:last-child {
					width: 25%;
				}
			}
		}
		
	}
}

.fontawesome-enlarge {
	text-decoration: none;
	&:hover {
		color: #888;
		text-decoration: underline;
		//font-size: 28px;
		//vertical-align: -5px;
	}
}

.spinner {
	text-align: center;
}

.uaworktable-remark {
	font-style: italic;
}

.labelprefixedbyicon {
	.labelprefixedbyicon-icon {
		color: @k-brown;
	}
}

.quiet {
	color: #888;
}

/* #Customize jQueryUI
================================================== */
.ui-widget {
	font: inherit;
}
div.ui-autocomplete-loading {
	background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}
input[type='text'].ui-autocomplete-loading {
	background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
	&.ui-autocomplete-loading-error {
		background: white url('../img/fail.gif') right center no-repeat;
	}
}
input[type='text'].ui-autocomplete-loading-error {
	background: white url('../img/fail.gif') right center no-repeat;
}
.ui-autocomplete-category {
	font-weight: bold;
}
select.ui-datepicker-month, select.ui-datepicker-year {
	display: inline;
}
div.ui-tooltip {
    max-width: 200px;
	text-align: center;
}
.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}

/* #Collapsible
================================================== */
@tp-collapsible-border-color: #ADAE9C;
.collapsible {
	/*a {
		color: #000;
		text-decoration: none;
	}*/
	.collapsible-header {
		.collapsible-header-inner {
			border: 1px solid @tp-collapsible-border-color;
			background-color: #F5F5F1;
			.gradient(linear-gradient(top, rgba(226,228,218,0) 0%,rgba(245,245,241,1) 100%));
			color: #000;
			font-size: 13px;
			line-height: 18px;
			font-weight: bold;
			margin-bottom: 0;
			padding-left: 3px;
			padding-bottom: 2px;
			margin-top: 5px;
			.ui-icon {
				display: inline-block;
			}
			a {
				color: #000;
				text-decoration: none;
			}
		}
		i.icon-caret-down.collapsed {
			.rotate(-90deg);
		}
		i.icon-caret-right.collapsed {
			.rotate(90deg);
		}
	}

	.collapsible-body {
		.collapsible-body-toolbar {
			border: 1px solid @tp-collapsible-border-color;
			border-top: 0;
			background-color: #F5F5F1;
			.gradient(linear-gradient(top, rgba(226,228,218,0) 0%,rgba(245,245,241,1) 100%));
			color: #000;
			font-size: 11px;
			line-height: 18px;
			margin-bottom: 0;
			padding-top: 2px;
			padding-left: 6px;
			padding-bottom: 2px;
			/*a {
				color: #000;
				text-decoration: none;
			}*/
		}
		.collapsible-body-inner {
			border: 1px solid @tp-collapsible-border-color;
			border-top: 0;
			padding-top: 5px;
			padding-bottom: 5px;
			overflow-x: auto;
		}
	}
	&.collapsed>.collapsible-body  {
		display: none;
	}
}
html.ie8 .collapsible {
	.collapsible-header {
		.collapsible-header-inner {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f1', endColorstr='#e2e4da',GradientType=0 );
		}
	}
	.collapsible-body {
		.collapsible-body-toolbar {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f1', endColorstr='#e2e4da',GradientType=0 );
		}
	}
}

/* Notification styles
-----------------------------------------------------------*/
#messagewrapper {
	margin-top: 5px;
}

#messagewrapper div > i.toast_onhovertext {
	display: none;
}

#messagewrapper:hover div > i.toast_onhovertext {
	display: inline-block;
}

#messagewrapper .messagebox {
	padding: 12px 10px 10px 30px;
}

#messagewrapper .success {
	color: #060;
	background: #cfc url(../img/ok.gif) no-repeat 8px 12px;
	
	&:hover {
		background-color: darken(#cfc, 10%);
	}
}

#messagewrapper .warning {
	color: #c60;
	background: #ffc url(../img/warn.gif) no-repeat 8px 12px;
	&:hover {
		background-color: darken(#ffc, 10%);
	}
}

#messagewrapper .error {
	color: #c00;
	background: #fcc url(../img/fail.gif) no-repeat 8px 12px;
	&:hover {
		background-color: darken(#fcc, 10%);
	}
}

/* Table, all tables
-----------------------------------------------------------*/
table.purchreqtable_listtable, 
table.pritable_listtable, 
table.purchordertable_listtable, 
table.purchorderline_listtable, 
table.purchreqline_listtable, 
table.priline_listtable,
table.worklist_listtable,
table.rop_listtable,
table.prilineselect_listtable,
table.purchreqlineselect_listtable,
table.purchorderlineselect_listtable,
table.bidweaver_listtable,
table.capexbudgetline_listtable,
table.capexbudgettable_listtable,
table.capexbudgetspending_listtable,
table.budgettable_listtable,
table.budgetusage_listtable {
	width: 96%;
	margin-bottom: 20px;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 18px;
	margin-bottom:0px;

	tr {
		td {
			padding-top: 3px;
			padding-bottom: 3px;
		}
		&:hover td {
			background-color: @table-hover-bg;
			cursor: pointer;
		}
	}

	thead {
		//tr:first-child {
		tr {
			border: 1px solid #CCC;
			background-color: @table-header-bg;
			color: #FFF;
			th {
				font-weight: bold;
				text-align:left;
				padding-top: 3px;
				padding-bottom: 3px;
				text-align: center;
				background-color: @table-header-bg; // New
				a {
					text-decoration: none;
					color: #FFF;
					&:hover {
						text-decoration:underline;
					}
				}
			}
		}
	}
	
	tbody {
		tr {
			width: 100%;
			&:nth-of-type(odd) { 
				background: @table-odd-bg;
				/*td { // New
					background-color: @table-odd-bg;
					&:hover {
						background-color:transparent;
					}
				}*/
			}
			&.odd {
				background: @table-odd-bg;
				/*td { // New
					background-color: @table-odd-bg;
				}*/
			}
			&.checked  {
				background-color: @table-checked-bg;
				/*td { // New
					background-color: @table-checked-bg;
				}*/
			}
			td {
				padding-left:2px;
				padding-right:2px;
				//width:18%;
				//background-color: #fff; // New
				&.command {
					width: 29px;
				}
			}
		}
	}
	tfoot {
		tr {
			border-top: 1px solid #AAA;
			border-bottom: 1px solid #AAA;
			td {
				background-color: lighten(@bodybg, 10%);
			}
		}
	}
}

table.worklist_listtable {
	tbody {
		tr {
			&.ontime {
			}
			&.due {
				background-color: #fff29d;
			}
			&.overdue {
				background-color: #ffc9c9;
			}
			td {
				&.command {
					width: 110px;
					text-align: right;
				}
			}
		}
	}
}
/* #Table Sorter
================================================== */
/* tables */
table.tablesorter {
	//font-family:arial;
	//background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	//background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/sorter_bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .header.header-empty {
	background-image: none;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: default;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	//background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	//background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/sorter_asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/sorter_desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	//background-color: #8dbdd8;
}
/*
div.pager {
	a,span {
		color: #EEE;
		background-color: @table-header-bg;
		padding: 3px 5px 3px 5px;
		.border-radius(2px);
		&.current {
			background-color: lighten(@table-header-bg, 20%);
			color: #000;
		}
	}
	a {
		&:hover {
			background-color: lighten(@table-header-bg, 20%);
			color: #000;
		}
	}
}*/
div.pager {
	a,span {
		&.current {
			background-color: lighten(@table-header-bg, 20%);
			color: #000;
			padding: 0.4em 1em;
			border: 1px solid #D8DCDF;
			.border-radius(6px);
		}
	}
}

table.refreshdata_list {
	width: 96%;
	margin-bottom: 20px;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 18px;

	tr {
		td {
			padding-top: 3px;
			padding-bottom: 3px;
		}
		&:hover td {
			background-color: @table-hover-bg;
		}
	}

	thead {
		tr:first-child {
			border: 1px solid #CCC;
			background-color: @table-header-bg;
			color: #FFF;
			th {
				font-weight: bold;
				text-align:left;
				padding-top: 3px;
				padding-bottom: 3px;
				text-align: left;
				&.command {
					text-align:center;
				}
			}
		}
	}
	
	tbody {
		tr {
			width: 100%;
			&:nth-of-type(odd) { 
				background: @table-odd-bg; 
			}
			&.odd {
				background: @table-odd-bg; 
			}
			td {
				padding-left:2px;
				padding-right:2px;
				&.command {
					width: 109px;
					text-align:right;
				}
			}
		}
		
	}
}

table.reporting_list {
	width: 96%;
	margin-bottom: 20px;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 18px;

	tr {
		td {
			padding-top: 3px;
			padding-bottom: 3px;
		}
		&:hover td {
			background-color: @table-hover-bg;
		}
	}

	thead {
		tr:first-child {
			border: 1px solid #CCC;
			background-color: @table-header-bg;
			color: #FFF;
			th {
				font-weight: bold;
				text-align:left;
				padding-top: 3px;
				padding-bottom: 3px;
				text-align: left;
				&.command {
					text-align:center;
				}
			}
		}
	}
	
	tbody {
		tr {
			width: 100%;
			&:nth-of-type(odd) { 
				background: @table-odd-bg; 
			}
			&.odd {
				background: @table-odd-bg; 
			}
			td {
				padding-left:2px;
				padding-right:2px;
				&.name {
					//width: 200px;
				}
				&.command {
					width: 100px;
					text-align:center;
				}
			}
		}
		
	}
}

.label-required {
	color: red;
}

input[type=text],
input[type=datetime]  {
	border: 1px solid #888;
	.border-radius(1px);
	&:focus {
		border-color: #66AFE9;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
		outline: 0 none;
	}
	padding-top: 1px;
	padding-bottom: 1px;
}

textarea {
	border: 1px solid #888;
	.border-radius(1px);
	&:focus {
		border-color: #66AFE9;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
		outline: 0 none;
	}
}

select {
	border: 1px solid #888;
	.border-radius(1px);
	&:focus {
		border-color: #66AFE9;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
		outline: 0 none;
	}
}

.validation-summary-errors {
	color: Red;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	border: 1px solid red;
	.border-radius(4px);
	background-color: lighten(#fcc, 5%);
	ul li {
		margin-bottom: 2px;
	}
}

.input-validation-error,
input.input-validation-error,
textarea.input-validation-error {
	border: 1px solid Red;
}

table.budgetallocationreadonlyviewmodel_table {
	width: 100%;
	th, td {
		padding-top: 4px;
		padding-bottom: 4px;
	}
	thead {
		tr {
			border: 1px solid #EEE;
			background-color: @table-header-bg;
			color: #FFF;
			th {
				font-weight: bold;
				text-align:left;
				text-align: center;
			}
		}
	}
	tbody {
		tr {
			td {
				&.budgetcode {
					&:hover {
						background-color: @table-hover-bg;
					}
					a {
						width: 100%;
						text-decoration: none;
						display: block;
					}
				}
			}
		}
	}
	tfoot {
		tr {
			border-top: 1px solid #AAA;
			border-bottom: 1px double #AAA;
			&.invalid {
				color: #c00;
				background-color: #fcc;
				&:hover {
					background-color: darken(#fcc, 10%);
				}
			}
			&.valid {
				color: #060;
				background-color: #cfc;
				&:hover {
					background-color: darken(#cfc, 10%);
				}
			}
		}
	}
}

.budgettable_listtable_wrapper {
	//width: 1053px;
	//overflow-x:scroll;
    //overflow-y:visible;
	.tablegroup {
		font-weight: bold;
		padding-top: 1px;
		padding-bottom: 2px;
	}
	.companygroup {
		font-size: 1.5em;
	}
	.departmentgroup {
		font-size: 1.3em;
	}
	.costcentergroup {
		font-size: 1.1em;
	}
}
.fixedcolumn-table-wrapper {
	//width: 1053px;
	//width: 3933px;
	overflow-x:scroll;
    overflow-y:hidden;
    //overflow-y:visible;
}
table.budgettable_listtable {
	width: 100%;
	
	th.headcol {
        margin-top: -1px;
		margin-left: -1px;
	}
	.headcol {
		//position:absolute;
		&.year {
			left:6;
			width:60px;
		}
		&.budgetcode {
			left:81px;
			width:200px;
		}
        top:auto;
	}
	td.headcol {
		&.year {
			width:64px;
		}
	}
	.amount {
		width: 120px;
	}
	.monthly-amount {
		width: 120px;
	}
	.monthly {
		//width: 120px;
		width: 360px;
	}
	/*th.monthly {
		background-color: #28e272;
	}*/
	th {
		@monthly-background-color:#28e272;
		&.monthly-jan {
			background-color: @monthly-background-color;
		}
		&.monthly-feb {
			background-color: darken(@monthly-background-color, 1%);
		}
		&.monthly-mar {
			background-color: darken(@monthly-background-color, 2%);
		}
		&.monthly-apr {
			background-color: darken(@monthly-background-color, 3%);
		}
		&.monthly-may {
			background-color: darken(@monthly-background-color, 4%);
		}
		&.monthly-jun {
			background-color: darken(@monthly-background-color, 5%);
		}
		&.monthly-jul {
			background-color: darken(@monthly-background-color, 6%);
		}
		&.monthly-aug {
			background-color: darken(@monthly-background-color, 7%);
		}
		&.monthly-sep {
			background-color: darken(@monthly-background-color, 8%);
		}
		&.monthly-oct {
			background-color: darken(@monthly-background-color, 9%);
		}
		&.monthly-nov {
			background-color: darken(@monthly-background-color, 10%);
		}
		&.monthly-dec {
			background-color: darken(@monthly-background-color, 11%);
		}
	}
}
table.budgettable_listtable,
table.budgetusage_listtable {
	tr {
		&:hover td {
			background-color: @table-hover-bg;
			cursor: auto;
		}
	}

	tbody {
		tr {
			td.budgetcode {
				&:hover {
					text-decoration:underline;
				}
				a {
					text-decoration: none;
					width: 100%;
					display: block;
				}
			}
		}
	}
}
#budgetindex_searchform {
	select {
		width: 95%;
	}
}


/* Hierarchy Sprite
-----------------------------------------------------------*/
.here-up, .s-1, .s-2, .s-3, .s-4, .s-5, .s-6, .s-7{
	background: url(../img/hierarchy.png) no-repeat;
}
.here-up{
	background-position: 0 0;
	width: 56px;
	height: 62px;
}

.s-1{
	background-position: 0 -63px ;
	width: 56px;
	height: 61px;
}

.s-2{
	background-position: 0 -125px ;
	width: 56px;
	height: 61px;
}

.s-3{
	background-position: 0 -187px ;
	width: 56px;
	height: 61px;
}

.s-4{
	background-position: 0 -249px ;
	width: 56px;
	height: 61px;
}

.s-5{
	background-position: 0 -311px ;
	width: 56px;
	height: 61px;
}

.s-6{
	background-position: 0 -373px ;
	width: 56px;
	height: 61px;
}

.s-7{
	background-position: 0 -435px ;
	width: 56px;
	height: 61px;
}

p#currentuser {
	float: right;
	background-color: #521F14;
	color: #FFF;
	text-align: center;
	display: block;
	padding-top: 3px;
	height: 19px;
	padding-left: 6px;
	padding-right: 5px;
	.border-bottom-left-radius(10px);
	//.border-bottom-right-radius(2px);
}
td.lineno {
	text-align: center;
}
td.ledgeraccount {
	text-align: center;
}
td.costcenter {
	text-align: center;
}

body.fullscreen {
	.main-content-wrapper {
		width:99%;
	}
	.container {
		.sixteen.columns {
			width: 99%;
		}
	}
}