﻿@using Newtonsoft.Json
@using PanasonicProject.Helpers.Kendo
@model PanasonicProject.ViewModels.Report.SummaryReportsViewModel

<div class="row">
    <div class="col-xs-2 text-right">
        @Html.Label("Report name")
    </div>
    <div class="col-xs-2">
        @(Html.Kendo().ComboBoxFor(m => m.Criteria.ReportName)
              //.Filter(FilterType.Contains)
              //.AutoBind(false)
              .DataValueField("Name")
              .DataTextField("Name")
              .Placeholder("Please select")
              .DataSource(m => m.Read("GetAllRequestReportName", "Reports"))
              .Events(e => e.Change("pecth.reports.changeReportName"))
              .HtmlAttributes(new
              {
                  data_url = "result_permissionMember"
              })
              )
    </div>
    <div class="col-xs-2">
        <div id="isImportDiv" class="displaynon">
            @Html.EditorFor(m => m.Criteria.IsImport) @Html.Label("Import")
        </div>
    </div>

    <div class="col-xs-2 text-right">
        @Html.Label("Division")
    </div>
    <div class="col-xs-4">
        @(Html.Kendo().ComboBoxFor(m => m.Criteria.CreateBy)
              .DataTextField("DisplayName")
              .DataValueField("DisplayName")
              .Filter(FilterType.Contains)
              .AutoBind(false)
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("SearchUser", "Reports");
                  })
                      .ServerFiltering(true);
              })
              )
    </div>

    <div class="col-xs-2 text-right">
        @Html.Label("Section")
    </div>
    <div class="col-xs-4">
        @(Html.Kendo().ComboBoxFor(m => m.Criteria.CreateBy)
              .DataTextField("DisplayName")
              .DataValueField("DisplayName")
              .Filter(FilterType.Contains)
              .AutoBind(false)
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("SearchUser", "Reports");
                  })
                      .ServerFiltering(true);
              })
        )
    </div>
    <div class="col-xs-2 text-right">
        @Html.Label("Created by")
    </div>
    <div class="col-xs-4">
        @(Html.Kendo().ComboBoxFor(m => m.Criteria.CreateBy)
              .DataTextField("DisplayName")
              .DataValueField("DisplayName")
              .Filter(FilterType.Contains)
              .AutoBind(false)
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("SearchUser", "Reports");
                  })
                      .ServerFiltering(true);
              })
        )
    </div>
</div>

<div class="row">
    <div class="col-xs-2 text-right">
        @Html.Label("Document number")
    </div>
    <div class="col-xs-4">
        @Html.EditorFor(m => m.Criteria.DocumentNumber)  <span style="color: gray">(EAXX-XXXX, EPXX-XXXX)</span>
        <div class="displaynon" id="subReport"></div>
    </div>
    

    <div class="col-xs-2 text-right">
        @Html.Label("Department")
    </div>
    <div class="col-xs-4">
        @(Html.Kendo().ComboBoxFor(m => m.Criteria.CreateBy)
              .DataTextField("DisplayName")
              .DataValueField("DisplayName")
              .Filter(FilterType.Contains)
              .AutoBind(false)
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("SearchUser", "Reports");
                  })
                      .ServerFiltering(true);
              })
        )
    </div>
    <div class="col-xs-2 text-right">
        @Html.Label("Created date")
    </div>
    <div class="col-xs-4">
        @(Html.Kendo().DatePickerStartFor(m => m.Criteria.StartDate, m => m.Criteria.EndDate))
        @(Html.Kendo().DatePickerEndFor(m => m.Criteria.EndDate, m => m.Criteria.StartDate))
    </div>
</div>

