i.glyphicon {
  font-size: 12px;
}
/* Validation */
.validation-summary-valid {
  display: none;
}
.validation-summary-errors ul {
  margin: 0;
  list-style-type: none;
}
/* Typeahead */
div[class^="tt-dataset"] {
  display: table !important;
}
div[class^="tt-dataset"] > span.typeahead-header-row {
  display: table-row !important;
  background-image: linear-gradient(to bottom, #fdfdfd 0%, #fdfdfd 50%, #eaeaea 51%, #eaeaea 100%);
  padding: 5px;
  font-weight: bold;
}
div[class^="tt-dataset"] > span.typeahead-header-row > span.typeahead-header-cell {
  display: table-cell !important;
  border: 1px solid;
  border-color: #d1d1d1;
  padding: 5px;
}
div[class^="tt-dataset"] > span.tt-suggestions {
  display: table-row-group !important;
}
div[class^="tt-dataset"] > span.tt-suggestions > div.tt-suggestion:nth-child(even) {
  background: #e8e8f5;
}
div[class^="tt-dataset"] > span.tt-suggestions > div.tt-suggestion {
  display: table-row !important;
}
div[class^="tt-dataset"] > span.tt-suggestions > div.tt-suggestion > span {
  display: table-cell !important;
  padding: 5px;
}
.tt-is-under-cursor {
  background-color: #0081C2 !important;
  background-image: linear-gradient(to bottom, #0088cc, #0077b3) !important;
  background-repeat: repeat-x !important;
  color: #FFFFFF;
}
/* Dropdown fixed */
.bootstrap-select:not([class*="span"]) {
  width: 100%;
}
/* Toast fixed */
.alert {
  margin-top: 30px;
}
/* Bootstrap fixed */
.tt-table {
  display: table;
}
.twitter-typeahead {
  width: 100%;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
  width: 100%;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}
.twitter-typeahead .tt-hint {
  color: #a1a1a1;
  z-index: 1;
  padding: 6px 12px;
  border: 1px solid transparent;
}
.twitter-typeahead .tt-query {
  z-index: 2;
  border-radius: 4px!important;
  /* add these 2 statements if you have an appended input group */
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  /* add these 2 statements if you have an prepended input group */
  /*  border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important; */
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
}
span.input-group-addon {
  cursor: pointer;
}
.ajax-typeahead.loading {
  background-color: #FFFFFF;
  background: #ffffff url('../img/ajax-loader.gif') no-repeat;
  background-position: 98% 50%;
}
.spinner.loading {
  background-color: #FFFFFF;
  background: #ffffff url('../img/modal-loader.gif') no-repeat;
  background-position: 50% 50%;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  height: 18px;
}
.container-fluid {
  box-shadow: 1px 1px 20px #C0C0C0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 90px;
  padding-right: 15px;
}
.navbar-header:hover {
  background-color: white;
}
.navbar-header .navbar-brand {
  padding: 10px 0px;
}
.navbar-header .navbar-brand:hover {
  background-color: white;
}
.navbar-header .navbar-brand img {
  width: 131px;
}
.last-item {
  border-style: solid;
  border-color: #898989;
  border-width: 0px 2px 0px 0px;
}
.navbar-default {
  /*border-bottom-color: #e51312;*/
  background-color: white;
  position: absolute;
  /*.gradient(~"linear-gradient(to bottom, #009449 1%,#018635 100%)");*/
}
.navbar-default .navbar-nav > li > a {
  /*border-style: solid;*/
  border-color: #898989;
  border-width: 0px 0px 0px 2px;
  color: #585858;
  font-weight: bolder;
  font-size: 13px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48cmFkaWFsR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjeD0iNTAlIiBjeT0iNTAlIiByPSI3NSUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMWEwYzciIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNmJiMyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-radial-gradient(center, ellipse, #01a0c7 0%, #006bb3 100%);
  background-image: -webkit-radial-gradient(center, ellipse, #01a0c7 0%, #006bb3 100%);
  background-image: -o-radial-gradient(center, ellipse, #01a0c7 0%, #006bb3 100%);
  background-image: radial-gradient(ellipse at center, #01a0c7 0%, #006bb3 100%);
}
.navbar-default .navbar-nav > li > a p {
  height: 4px;
}
.navbar-default .navbar-nav > li:last-child > a {
  /*border-style: solid;*/
  border-color: #898989;
  border-width: 0px 2px 0px 2px;
  color: #585858;
  font-weight: bolder;
  font-size: 13px;
}
.navbar-default .navbar-nav > li:last-child > a:hover,
.navbar-default .navbar-nav > li:last-child > a:focus {
  color: white;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48cmFkaWFsR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjeD0iNTAlIiBjeT0iNTAlIiByPSI3NSUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMWEwYzciIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNmJiMyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-radial-gradient(center, ellipse, #01a0c7 0%, #006bb3 100%);
  background-image: -webkit-radial-gradient(center, ellipse, #01a0c7 0%, #006bb3 100%);
  background-image: -o-radial-gradient(center, ellipse, #01a0c7 0%, #006bb3 100%);
  background-image: radial-gradient(ellipse at center, #01a0c7 0%, #006bb3 100%);
}
.navbar-default .navbar-nav > li:last-child > a p {
  height: 4px;
}
.navbar-default .navbar-nav {
  float: right;
  margin-right: 100px;
  background-color: white;
}
.navbar-default .navbar-nav .open a {
  color: white;
  background-color: #0077B3;
  /*.gradient(~"radial-gradient(ellipse at center, #01a0c7 0%,#006bb3 100%)");*/
  /*border-top:1px solid #2d87bb;*/
}
.navbar-default .navbar-nav .open a:hover,
.navbar-default .navbar-nav .open a:focus {
  color: #fff;
  border-style: solid;
  border-color: #898989;
  border-width: 0px 0px 0px 2px;
}
.navbar-default .navbar-nav .active a {
  color: white;
  background-color: #0077B3;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48cmFkaWFsR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjeD0iNTAlIiBjeT0iNTAlIiByPSI3NSUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMWEwYzciIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNmJiMyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-radial-gradient(center, ellipse, #01a0c7 0%, #006bb3 100%);
  background-image: -webkit-radial-gradient(center, ellipse, #01a0c7 0%, #006bb3 100%);
  background-image: -o-radial-gradient(center, ellipse, #01a0c7 0%, #006bb3 100%);
  background-image: radial-gradient(ellipse at center, #01a0c7 0%, #006bb3 100%);
}
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus {
  color: #fff;
  background-color: #0077B3;
}
.navbar-default .navbar-brand {
  color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFFFFF;
  background-color: #FFFFFF;
}
.navbar-default .navbar-nav > .open > .dropdown-menu {
  background-color: #016dad;
}
.navbar-default .navbar-nav > .open > .dropdown-menu li > a {
  color: #ffffff;
  background-color: #016dad;
}
.navbar-default .navbar-nav > .open > .dropdown-menu li > a:hover {
  border: 0px;
  background-color: #093655;
}
.navbar-default .navbar-nav > .open > .dropdown-menu .dropdown-header {
  color: #471769;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
  background-color: #ECEAF8;
  padding: 8px 10px 0 10px;
}
.nav-tabs li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
}
.nav-tabs li > a:hover {
  border-color: #ffffff #ffffff #dddddd;
}
.nav-tabs li.active > a {
  color: #a79952;
}
.tab-content {
  background-color: #fff;
}
table.file-list.empty {
  display: none;
}
table.file-list th.progress-column,
table.file-list-readonly th.progress-column,
table.file-list-existing th.progress-column,
table.file-list td.progress-column,
table.file-list-readonly td.progress-column,
table.file-list-existing td.progress-column {
  width: 250px;
  text-align: center;
}
table.file-list th.command-column,
table.file-list-readonly th.command-column,
table.file-list-existing th.command-column,
table.file-list td.command-column,
table.file-list-readonly td.command-column,
table.file-list-existing td.command-column {
  width: 120px;
  text-align: center;
}
table.file-list th.download-column,
table.file-list-readonly th.download-column,
table.file-list-existing th.download-column,
table.file-list td.download-column,
table.file-list-readonly td.download-column,
table.file-list-existing td.download-column {
  width: 150px;
  text-align: center;
}
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /*background-color: #d6d6d6;*/
  font-size: 12px;
}
label {
  font-weight: normal;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  /*margin: 0 auto -50px;*/
  background-color: #e3e3e3;
  /*.gradient(~"linear-gradient(to bottom, #FFFFFF 0%,#EDEDED 100%);");*/
}
/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  text-align: center;
  background-color: #111111;
  margin-left: 0px;
margin-right: 0px;
}
#footer p {
  font-weight: bold;
  padding-top: 15px;
  background-color: #111111;
  color: white;
}
#border-footer {
  background: #ABA4A4;
  height: 5px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
margin-left: 0px;
margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.banner {
  width: 100%;
  margin-top: 50px;
}
iframe {
    min-height:1200px !important; 
    margin-top: 10px;
  margin-bottom: 10px;
  border-width: 0px;
  -moz-border-radius: 5px 5px 20px 5px;
  /*-webkit-border-radius: 5px 5px 20px 5px;*/
  /*border-radius: 5px 5px 20px 5px;*/
  /*-moz-box-shadow: 1p.container-fluidx 1px 20px #C0C0C0;
  -webkit-box-shadow: 1px 1px 20px #C0C0C0;
  box-shadow: 1px 1px 20px #C0C0C0;*/
  /*-moz-transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);*/
}
#wrap > .container,
#wrap > .container-fluid {
  padding-top: 20px;
}
.container .credit,
.container-fluid .credit {
  margin: 10px 0;
  font-size: 11px;
}
h1,
h2,
h3 {
  color: #484646;
  line-height: 20px;
  /*padding: 20px;*/
  padding-bottom: 10px;
}
@media (min-width: 768px) and (max-width: 979px) {
  #wrap > .container,
  #wrap > .container-fluid {
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  #wrap > .container,
  #wrap > .container-fluid {
    padding-top: 0px;
  }
}
/* Collapsible
-------------------------------------------------- */
.collapsible {
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid #BBB;
  border-top: 1px solid #BBB;
  padding-top: 2px;
  background-color: #FFF;
  margin-bottom: 5px;
  width: 100%;
  display: inline-block;
}
.collapsible-header-inner {
  font-weight: bold;
  background-color: #804c9e;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwNGM5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM4MDRjOWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjNjUyOTg3IiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NTI5ODciIHN0b3Atb3BhY2l0eT0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -moz-linear-gradient(top, #804c9e 0%, #804c9e 50%, #652987 51%, #652987 100%);
  background-image: -webkit-linear-gradient(top, #804c9e 0%, #804c9e 50%, #652987 51%, #652987 100%);
  background-image: -o-linear-gradient(top, #804c9e 0%, #804c9e 50%, #652987 51%, #652987 100%);
  background-image: linear-gradient(to bottom, #804c9e 0%, #804c9e 50%, #652987 51%, #652987 100%);
  border-radius: 5px 5px 0 0;
  margin-top: -2px;
}
.collapsible-header-inner > a {
  width: 100%;
  display: block;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
}
.collapsible-header-inner > a:hover {
  text-decoration: none;
  color: #fff;
}
.collapsible-header-inner > a i {
  float: right;
}
.collapsible-body {
  border-radius: 0 0 5px 5px;
  padding: 0 0 5px 0;
  background-color: #fff;
  display: inline-block;
  width: 100%;
}
.collapsible-body-inner {
  background-color: #fff;
}
.collapsible.collapsed > .collapsible-body {
  display: none;
}
.collapsible.collapsed .collapsible-body-toolbar,
.collapsible.collapsed .collapsible-body-inner {
  display: none;
}
/*
.collapsible-body {
	.collapsible-body-toolbar + .collapsible-body-inner {
		border-top: 0.5px #DDDDDD solid;
		margin-top: 3px;	
	}
}*/
.collapsible-body .toolbar {
  background-color: #d7e0e9;
  padding: 3px 0px;
  margin-bottom: 3px;
}
.collapsible-body .collapsible-body-toolbar + .collapsible-body-inner {
  margin-top: 3px;
}
/*----- Table -------*/
table {
  max-width: 100%;
  background-color: transparent;
}
.table {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 1px solid;
  border-color: #d1d1d1;
  background-color: #ffffff;
}
.table th {
  text-align: left;
  font-weight: bold;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZGZkZmQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjRUFFQUVBIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNFQUVBRUEiIHN0b3Atb3BhY2l0eT0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -moz-linear-gradient(top, #fdfdfd 0%, #fdfdfd 50%, #eaeaea 51%, #eaeaea 100%);
  background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #fdfdfd 50%, #eaeaea 51%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fdfdfd 0%, #fdfdfd 50%, #eaeaea 51%, #eaeaea 100%);
  background-image: linear-gradient(to bottom, #fdfdfd 0%, #fdfdfd 50%, #eaeaea 51%, #eaeaea 100%);
  white-space: pre-line;
}
.table .span50 {
  word-wrap: break-word;
}
.table .span100 {
  word-wrap: break-word;
}
.table .span150 {
  word-wrap: break-word;
}
.table .span200 {
  word-wrap: break-word;
}
.table .span250 {
  word-wrap: break-word;
}
.table .span300 {
  word-wrap: break-word;
}
.table .display50 {
  width: 50px;
}
.table .display100 {
  width: 100px;
}
.table .display150 {
  width: 150px;
}
.table .display200 {
  width: 200px;
}
.table .display250 {
  width: 250px;
}
.table .display300 {
  width: 300px;
}
.table tbody,
.table tr {
  height: 18px;
  padding: 0px;
}
.table thead > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
  font-weight: bold;
  font-size: 12px;
}
.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table tbody > tr > td {
  padding-left: 8px;
}
.table thead > tr > th {
  border-right: 1px solid #dddddd;
  padding: 5px 0 5px 5px;
}
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 10px 10px 3px 10px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #e8e8f5;
}
.table-striped > tbody > tr > td,
.table-striped > tbody > tr > th {
  background-color: #fff;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: gainsboro;
}
table.file-list.empty {
  display: none;
}
.alternative {
  background-color: #e8e8f5;
}
table.file-list th.progress-column,
table.file-list-readonly th.progress-column,
table.file-list-existing th.progress-column,
table.file-list td.progress-column,
table.file-list-readonly td.progress-column,
table.file-list-existing td.progress-column {
  width: 250px;
  text-align: center;
}
table.file-list th.command-column,
table.file-list-readonly th.command-column,
table.file-list-existing th.command-column,
table.file-list td.command-column,
table.file-list-readonly td.command-column,
table.file-list-existing td.command-column {
  width: 120px;
  text-align: center;
}
table.file-list th.download-column,
table.file-list-readonly th.download-column,
table.file-list-existing th.download-column,
table.file-list td.download-column,
table.file-list-readonly td.download-column,
table.file-list-existing td.download-column {
  width: 150px;
  text-align: center;
}
.footer-table {
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  border: 1px solid;
  text-align: right;
  display: inline-block;
}
.footer-table .label-left {
  width: 80%;
  float: left;
}
.footer-table .label-right {
  width: 20%;
  float: left;
}
/*------ EndTable ----*/
/*----- Control ------*/
.form-group2 {
  /*width:50%;*/
  float: left;
  display: inline-block;
}
.form-group2 .form-group-header {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  padding-top: 15px;
  margin-bottom: 20px;
  border-bottom: solid 2px #bebebe;
  width: 90%;
  color: #b48c28;
}
.form-group2 .control-group {
  width: 100%;
  float: left;
  display: inline-block;
}
.form-group2 .control-group .controls {
  width: 61%;
  float: left;
  margin-right: 9%;
  margin-bottom: 5px;
  display: inline;
}
.form-group2 .control-group .control-label {
  width: 28%;
  float: left;
  margin-right: 2%;
  text-align: right;
  display: inline;
}
.form-group2 .control-group .control-label label {
  white-space: pre-line;
}
.form-group-left {
  width: 50%;
  display: inline-block;
}
.form-group-left .form-group-header {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  padding-top: 15px;
  margin-bottom: 20px;
  border-bottom: solid 2px #bebebe;
  width: 90%;
  color: #b48c28;
}
.form-group-left .control-group {
  width: 100%;
  float: left;
  display: inline-block;
}
.form-group-left .control-group .controls {
  width: 61%;
  float: left;
  margin-right: 9%;
  margin-bottom: 5px;
  display: inline;
}
.form-group-left .control-group .control-label {
  width: 28%;
  float: left;
  margin-right: 2%;
  text-align: right;
  display: inline;
}
.form-group .control-label {
  width: 28%;
  float: left;
  margin-right: 2%;
  text-align: right;
  display: inline;
}
.form-group .control-label label {
  white-space: pre-line;
}
.form-group-header {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  padding-top: 15px;
  margin-bottom: 20px;
  border-bottom: solid 2px #bebebe;
  width: 98.5%;
  color: #b48c28;
}
.form-control {
  width: 100%;
  height: 34px;
  float: left;
}
.control-group {
  width: 50%;
  float: left;
  display: inline-block;
}
.control-group .controls {
  width: 68%;
  float: left;
  margin-right: 2%;
  margin-bottom: 5px;
  display: inline;
}
.control-group .controls .radio-inline {
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.control-group .controls .checkbox-inline {
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.control-group .control-label {
  width: 28%;
  float: left;
  margin-right: 2%;
  text-align: right;
  display: inline;
}
.control-group-half-row {
  width: 50%;
  display: inline-block;
}
.control-group-half-row .controls {
  width: 68%;
  float: left;
  margin-right: 2%;
  margin-bottom: 5px;
  display: inline;
  padding-top: 7px;
}
.control-group-half-row .control-label {
  width: 28%;
  float: left;
  margin-right: 2%;
  padding-right: 5px;
  text-align: right;
  display: inline;
}
.control-group-full-row {
  width: 100%;
  display: inline-block;
}
.control-group-full-row .controls {
  width: 84%;
  float: left;
  margin-right: 1%;
  margin-bottom: 5px;
  display: inline;
}
.control-group-full-row .controls table {
  margin-top: 0px;
}
.control-group-full-row .control-label {
  width: 13.5%;
  float: left;
  margin-right: 1.5%;
  text-align: right;
  display: inline;
}
.control-group-full-row .control-label-modal {
  width: 20.5%;
  float: left;
  margin-right: 1.5%;
  text-align: right;
  display: inline;
  padding: 5px;
}
.control-group-full-row .control-label-modal label {
  white-space: pre-line;
}
.control-label-modal {
  width: 20.5%;
  float: left;
  margin-right: 2.5%;
  text-align: right;
  display: inline;
  margin-left: 2%;
  padding: 5px;
}
.controls-modal {
  width: 70%;
  float: left;
  margin-right: 1%;
  margin-bottom: 5px;
  display: inline;
  padding-top: 5px;
}
.toolbar-button-group {
  width: 100%;
  display: inline-block;
  padding-left: 5px;
  padding-bottom: 10px;
}
.toolbar-button {
  padding: 10px 0 0 5px;
  display: inline;
  float: left;
}
.group-panel {
  padding-top: 20px;
}
.readonly .control-group > label + div.controls {
  padding-top: 5px;
}
.readonly .control-group > label + div.controls div {
  margin-top: -8px;
}
.readonly .control-group > label + div.controls.space {
  padding-top: 5px;
}
.readonly .control-group > label + div.controls.space div {
  margin-top: 0px;
}
.control-group > label + div.controls.readonly {
  padding: 5px;
}
.control-group .control-label {
  padding: 5px;
  margin-bottom: 5px;
  color: #000;
  -webkit-border-radius: 0 6px 6px 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 6px 6px 0;
  -moz-background-clip: padding;
  border-radius: 0 6px 6px 0;
  background-clip: padding-box;
}
.control-group .readonly .checkbox-label {
  padding: 0 10px;
  font-weight: bold;
}
label {
  font-weight: bold;
  margin-bottom: 0px;
}
form {
  margin-bottom: 5px;
}
.form-horizontal .control-group {
  margin-bottom: 2px;
}
.form-horizontal {
  width: 100%;
}
.collapsible-body-toolbar {
  background-color: #ECEAF8;
  border-bottom: 3px solid #fff;
}
.collapsible-body-toolbar .btn {
  padding: 4px 12px;
}
.collapsible-body-toolbar select,
.collapsible-body-toolbar textarea,
.collapsible-body-toolbar input[type="text"],
.collapsible-body-toolbar input[type="password"],
.collapsible-body-toolbar input[type="datetime"],
.collapsible-body-toolbar input[type="datetime-local"],
.collapsible-body-toolbar input[type="date"],
.collapsible-body-toolbar input[type="month"],
.collapsible-body-toolbar input[type="time"],
.collapsible-body-toolbar input[type="week"],
.collapsible-body-toolbar input[type="number"],
.collapsible-body-toolbar input[type="email"],
.collapsible-body-toolbar input[type="url"],
.collapsible-body-toolbar input[type="search"],
.collapsible-body-toolbar input[type="tel"],
.collapsible-body-toolbar input[type="color"],
.collapsible-body-toolbar .uneditable-input {
  padding: 4px 6px;
}
.collapsible-body-toolbar select,
.collapsible-body-toolbar input[type="file"] {
  height: 30px;
}
/*
.collapsible-body-toolbar .input-append .btn,
.collapsible-body-toolbar .input-prepend .btn {
	padding: 2px 12px;
}
*/
.collapsible-body-toolbar .input-append > span.add-on,
.collapsible-body-toolbar .input-prepend > span.add-on {
  padding: 4px 6px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 6px 12px;
}
.input-append .add-on,
.input-prepend .add-on {
  padding: 2px 5px;
}
.btn {
  padding: 2px 12px;
}
.btn.btn-large {
  padding: 11px 12px;
}
select,
input[type="file"] {
  height: 26px;
}
.modal-header {
  padding: 0 15px 0 0;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.428571429px;
}
.table-catalog {
  width: 100%;
  margin-top: 5px;
  border: 1px solid;
  border-color: #d1d1d1;
}
.table-catalog thead th {
  height: 40px;
  text-align: center;
  font-weight: bold;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5OWJlYSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjA3Y2U1IiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background-image: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background-image: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
  background-image: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
  background-color: #EAEAEA;
  color: floralwhite;
  font-size: larger;
}
.caption-catalog {
  padding: 2px 0 2px 0;
  color: #333333;
}
.modal-dialog-catalog {
  left: 50%;
  right: auto;
  width: 900px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.sidebar {
  background-color: #FFF;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
  margin-top: 90px;
  padding: 0;
}
.sidebar > li > a {
  display: block;
  margin: 0 0 -1px;
  padding: 9px 15px;
  border: 1px solid #E5E5E5;
}
.sidebar > li:first-child > a,
.sidebar > li:first-child > img {
  -webkit-border-radius: 6px 6px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px 6px 0 0;
  -moz-background-clip: padding;
  border-radius: 6px 6px 0 0;
  background-clip: padding-box;
}
.sidebar > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 6px 6px;
  -moz-background-clip: padding;
  border-radius: 0 0 6px 6px;
  background-clip: padding-box;
}
.sidebar > .active > a {
  border: 0 none;
  -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.sidebar .icon-chevron-right {
  float: right;
  margin-right: -6px;
  margin-top: 2px;
  opacity: 0.25;
}
.btn {
  font-weight: bold;
}
.bootstrap-select.btn-group .btn .filter-option {
  overflow: hidden;
  position: absolute;
  left: 12px;
  right: 25px;
  text-align: left;
  font-size: 13px;
}
table.file-list.empty {
  display: none;
}
.empty-list {
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  padding-left: 70px;
  background: url('../img/empty-list.png') no-repeat scroll 5px 0px #cad3db;
  border-color: #787F85 #9BA3AB #9BA3AB;
  border-right: 1px solid #9BA3AB;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px #B4BCC3 inset, 0 1px #DCE9F3;
  color: #333333;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-shadow: 0 1px 0 #E7EDF5;
  top: 60px;
  word-wrap: break-word;
  width: 280px;
}
.empty-list .description {
  font-weight: normal;
}
.empty-list.empty-worklist {
  padding-left: 70px;
  background: url('../img/empty-inbox.png') no-repeat scroll 5px 0px #cad3db;
}
.empty-list.empty-list-error {
  padding-left: 70px;
  background: url('../img/wheel.png') no-repeat scroll 5px 13px #cad3db;
}
/* Worklist Template */
#overdue > .collapsible-body {
  background-color: #f25359;
}
#pending > .collapsible-body {
  background-color: #a79952;
}
.form-panel-30 {
  width: 29%;
  display: inline-block;
  float: left;
}
.form-panel-70 {
  width: 70%;
  display: inline-block;
  margin-left: 5px;
}
.btn-default.active {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
#worklist_list {
  min-height: 380px;
}
#overdue-list {
  background-color: #f25359;
}
#pending-list {
  background-color: #a79952;
}
.bootstrap-select.btn-group,
.bootstrap-select.btn-group[class*="span"] {
  float: none;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 0;
  margin-bottom: 1px;
  height: 34px;
}
.bootstrap-select.btn-group .btn-default,
.bootstrap-select.btn-group[class*="span"] .btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  height: 34px;
}
.control-group .controls .radio-inline {
  padding-top: 5px;
}
.control-group .controls {
  padding-top: 5px;
}
.control-group .controls .checkbox-inline {
  padding-top: 4px;
}
.boolean {
  background-color: #A16BD3;
  color: #fff;
  padding: 2px 4px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.amount tr td {
  text-align: right;
  font-weight: bold;
}
.amount tr td label {
  border-bottom: 3px double;
}
.gold {
  color: color:#b48c28;
}
.darkpurple {
  color: #471769;
}
span.label {
  font-size: 12px;
}
.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
  width: 100%;
}
.group-catalog {
  width: 359px;
  float: left;
  margin: 0 20px 10px 0;
}
.progress-process {
  margin-bottom: 5px;
  margin-left: -4px;
}
.modal-header h3 {
  margin-left: 10px;
}
.master_table_list {
  margin-top: 10px;
}
.input-form input[data-val-required][type=text]:not(.valid),
.input-form textarea[data-val-required]:not(.valid),
.input-form input[data-val-required][type=password]:not(.valid) {
  border: #f89406 1px solid;
  background-color: #fff29d;
}
input[data-val-required].input-validation-error:not(.valid) {
  border: red 1px solid;
  background-color: #ffc9c9;
}
input.data-required,
textarea.data-required {
  border: #f89406 1px solid;
  background-color: #fff29d;
}
.input-form .alert-danger {
  width: 90%;
  margin: 10px 0 0 5px;
}
.input-form .alert-danger ul {
  padding-left: 0px;
}
.toolbar-button-group .view {
  padding-top: 10px;
  text-align: right;
  padding-right: 10px;
}
.btn-pc-edit {
  float: right;
}
.btn-pc-edit a:link,
.btn-pc-edit a:hover {
  color: #ed9c28;
  font-size: 20px;
  text-decoration: none;
}
.btn-pc-edit a:hover {
  color: #FFA300;
  text-decoration: none;
}
.btn-pc-delete {
  float: right;
}
.btn-pc-delete a:link {
  color: #d2322d;
  font-size: 20px;
  text-decoration: none;
}
.btn-pc-delete a:hover {
  color: #FF0E06;
  text-decoration: none;
}
.form-horizontal .form-comment {
  margin-left: 0px;
  margin-right: 0px;
}
.issue {
  font-weight: bold;
}
.green {
  color: green;
}
.red {
  color: red;
}
.bluesky {
  color: #3ea1cf;
}
.block {
  background-color: #eeeeee;
}
.input-readonly {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
}
.break {
  word-wrap: break-word;
  word-break: break-all;
}
.shadow-rightleft {
  box-shadow: 0px 0px 20px 0px #C0C0C0;
}
.iframe-shadow-rightleft {
  box-shadow: -5px 0 10px -5px #c0c0c0, 5px 0 10px -5px #c0c0c0;
}
.progress-shadow-rightleft {
  box-shadow: 0px 0px 20px 0px #C0C0C0;
}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
.sticky-progress {
  align-content: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 50px;
  z-index: 100;
  border-top: 0;
  padding: 0px 100px 0px 100px;
}
.module {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(~/Images/Banner.png);
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}
.top h2 {
  color: white;
  margin: 0;
  padding: 20px;
}
.lr p {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  margin: 0;
}
.mid h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}
.cap p {
  padding: 20px;
  color: white;
  font: 12px Monaco, Mono-Space;
  margin: 0;
}
.padded-multiline {
  background: url(../../Images/Banner.png);
  width: 100%;
  height: 100%;
  margin-top: 32px;
  padding: 80px 1px 1px 100px;
}
.padded-multiline span {
  background-color: black;
  color: #fff;
  display: inline;
  padding: 0.5rem;
  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.image-wrapper {
  position: relative;
}
.image-wrapper p {
position: absolute;
color: #1B76BB;
top: 50%;
transform: translate(-20%, -50%);
font-size: 27px;
font-weight: bold;
display: inline-table;
text-align: justify;
-moz-text-align-last: right;
padding-left: 2px;

text-align: center;
vertical-align: middle;
right: 0px;
}
.image-wrapper-longtext p {
  position: absolute;
  left: 0;
  top: 0;
  color: #1b76bb;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  display: inline-table;
  text-align: end;
  padding-left: 2px;
}
.bodyPage {
  background-color: white;
  min-height: 700px;
}
form {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
}
.row {
  padding-top: 5px;
}
.theme-entry a:not(.action-row), .theme-entry div, .theme-entry ul, .theme-entry .grid table.grid-content-table {
    outline: medium none;
	color: blue;
}

.displaynon{display:none;}
